body {
  background-color: #e6f0ff; 
  font-family: Arial, Helvetica, sans-serif;
}


.navbar{
background: white;
width: 100%;

}

.card {
background-color: white;
border: none;
border-radius: 16px;
}




/* Blue Circle for the icon */
.twitter-circle {
  width: 40px;                
  height: 40px;               
  border-radius: 50%;           
  background-color: dodgerblue; 
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon inside the circle. */
.twitter-circle i {
  color: white;        
  font-size: 1.5rem;   
}

/* Text in dodger blue */
.tweeter-text {
  color: dodgerblue;
}

#tweetInput {
  resize: none;           
  border: none;           
  outline: none;          
  box-shadow: none;       
  width: 100%;            
  background-color: transparent; 
}


.tweet-btn {
  background-color: dodgerblue;
  color: white;           
  border: none;
  border-radius: 50px;
}

.tweet-btn:hover {
  background-color: #1a75ff;
  color: white;           
}

.tweet-btn:active,
.tweet-btn:focus {
  background-color: #005ce6;
  color: white;            
}
